

.containerMedicamentos{
    max-width: 80%;
    margin: auto;
}

.cardPrincipal{
    width: auto;
    border: 1px solid;
    margin: 4px;
    display: inline-block;
}

.cardPrincipal h4{
    border: 1px solid;
}