@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
    background: #F2F3EB;
    width: 94%;
    height: 100%;
    margin: auto;
    margin-top: 1rem;
}



nav{
    order: 1;
    
}

li, a{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    height: 30px;
    width: 86.4%;
    background-color: #20615B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

.logo{
    width: 77px;
    cursor: pointer;
    
}

.barrasuperior{
    list-style: none;

}

.barrasuperior li{
    display: inline-block;
    padding: 0px 20px;
}

.barrasuperior li a{
    transition: all 0.3s ease 0s;
}
.barrasuperior li a:hover{
    color: #F3C583;
}

.containerMascotas{
    width: 50%;
    height:auto;
    background:#e6e6e6;
    box-shadow:0 0 40px -10px #000;
    margin:calc(50vh - 220px) auto;
    padding:30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
}
.cardPrincipal{
    margin-bottom: 4rem;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 4px ;
    background-color: rgb(227, 220, 235);
}



.containerMascotas div{   
    padding: 1px;

}

.containerMascotas p{   
    top: 10px;
    display: inline;
    width:180px;
    color:#78788c;
}
.containerMascotas #b{
    border-top:1px solid #78788c;
    display: block;
    padding: 0px;
    width:auto;
    background-color:#78788c;
}

.containerMascotas h4{
    
    padding: 20px;
    display: inline;
   
}
.containerMascotas p{
    padding: 2px;
    color:#1A1831;

}
.boxe {
    top:0px;
    position: sticky;
    height: 30px;
    width: 86.4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #1A1831;
   
  }
  .box select {
    background-color: #DECE9C;
    color:#20615B;
    padding: 12px;
    width: 200px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px #f3c48373;
    outline: none;
  }
  
  .box select option {
    padding: 30px;
  }
  img{
      height: 565px;
  }
#b1{
    transition:cubic-bezier(1, 0, 0, 1);
}
